.menu {
  position: relative;
  top: 20px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  height: 730px;
  box-shadow: 0px 2px 5px rgb(133, 132, 132, 0.7);
  align-items: center;
  border-radius: 9px;

  .formQuestion {
    .titleQuestion {
      position: relative;
      font-size: 50px;
      color: #002f9c;
      font-weight: 900;
      margin: 0;
    }

    .StepQuestion {
      font-size: 20px;
      color: rgb(74, 109, 191);
      font-weight: 900;
    }

    .selectQuestion,
    .selectTheme {
      display: flex;
      cursor: pointer;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      width: 90%;
      height: 50px;
      left: 5%;
      border: 2px solid #ccc;
      border-radius: 5px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098a9;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;

      option {
        font-size: 17px;
      }

      &:focus {
        border-color: #007bff;

        &::after {
          transform: scaleX(1);
        }
      }
    }

    .fieldQuestion {
      font-size: 16px;
      border-radius: 10px;
      border: 2px solid #ccc;
      outline: none;
      resize: none;
      width: 90%;
      height: 180px;
      caret-color: auto;

      &:focus {
        border-color: #007bff;

        &::after {
          transform: scaleX(1);
        }
      }
    }

    .buttonQuestion {
      padding: 15px;
      margin-top: 15px;
      padding-bottom: 15px;
      background: #f2f1f2;
      display: list-item;
      transform: perspective(1px) translateZ(0);
      position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      border-radius: 5px;
      width: 90%;
      left: 5%;
      box-shadow: inset 0 0 0 0 #002f9c;
      -webkit-transition: ease-out 0.4s;
      -moz-transition: ease-out 0.4s;
      transition: ease-out 0.6s;
      border: 2px solid #ccc;
      color: #4b6ec0;

      &:hover {
        box-shadow: inset 1000px 0 0 0 #002f9c;
        color: white;
        border-color: #001f66;
        font-weight: 9700;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .menu {
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  .menu {
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .menu {
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
}
